
<h1 class="d-flex flex-column align-items-center mb-4
">Stupid Coaching</h1>

<div class="container d-flex flex-column align-items-center">
  <div class="alert alert-info pl-3" role="alert" style="max-width: 500px; width: 100%;" >
  <p> <%= @question %></p>
  <p>- <em>You</em></p>
</div>

<div class="alert alert-success pl-3" role="alert" style="max-width: 500px; width: 100%;">
  <p><%=@answer%></p>
  <p>- <em>Your coach</em></p>
</div>
</div>
